*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div{
    height:500px;
}
.logo{
    width:40px;
    height:40px;
}
.timetext-hide{
    display:none;
}
.timetext-show{
    display:inline;
}